body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #ffffff;
  /* color: white; */
  text-align: center;
  padding: 0px;
}

.logo {
  width: 500px;
  height: auto;
  /* display: block; */
  margin-bottom: 0px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 60px 20px;
  text-align: center;
  background: white;
  color: black
  
}
.hero h1 {
  color: black;
}
.hero p{
 color: black;
}

.hero button {
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.section {
  padding: 30px;
}

.section.light {
  background: #f8fafc;
}

footer {
  text-align: center;
  padding: 10px;
  background: #e5e7eb;
}

.whatsapp {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background: #25d366;
  color: white;
  text-decoration: none;
}
