body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  background: #ffffff;
  /* color: white; */
  text-align: center;
  padding: 0px;
}

.logo {
  width: 500px;
  height: auto;
  /* display: block; */
  margin-bottom: 0px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  padding: 60px 20px;
  text-align: center;
  background: white;
  color: black
}

.hero h1 {
  color: black;
}

.hero p {
  color: black;
}

.hero button {
  padding: 10px 20px;
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.section {
  padding: 30px;
}

.section.light {
  background: #f8fafc;
}

.footer {
    background: #f8fafc;
    color: #1f2937;
    text-align: center;
    padding: 30px 20px;
}

.social-links {
    margin: 15px 0;
}

.social-links a {
    margin: 0 15px;
    display: inline-block;
}

.social-links img {
    width: 35px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}








@media (max-width: 768px) {

  header {
    padding: 10px;
  }

  .logo {
    width: 80%;
  }

  nav a {
    display: block;
    margin: 10px 0;
  }

  .hero {
    padding: 30px 15px;
  }

  .hero h1 {
    font-size: 22px;
  }

  .hero p {
    font-size: 14px;
  }

}